.venv/
__pycache__/
.pytest_cache/
.ruff_cache/
.sesskey
.coverage
htmlcov/
uv.lock
*.egg-info/
*.pyc
*.pyo
*.pyd
*.db
logs/
data/home/
*.dmp
installer/requirements.txt
installer/quantide.bmp
installer/quantide.ico
installer/contact-us.bmp
installer/nssm.exe
installer/.nssm-cache/
